extends layout.pug

block content
    main.recipe-page-content
        .recipe_details
            .recipe-overview
                h1.recipe-name #{recipe.name}
                p.average-rating #{averageReview}
                .recipe-image-container
                    if imageUrl
                        img(src=recipe.Image.url)
                    else
                        img(src="/assets/logos/main-logo-2.svg" width="500" height="600")
                .date-metadata
                    p.author by #{recipe.User.userName}
                    p.create-date created on #{ recipe.createdAt.toDateString().slice(3)}
                    p.update-date updated on #{recipe.updatedAt.toDateString().slice(3)}
                p.description #{recipe.description}
                script(src='/javascripts/recipeCollections.js')
                if locals.authenticated
                    .log-in-buttons
                        button.add-review Add Review
                        button.add-collection(onclick='getCollectionForm()') Add To Collection
                        div#collection-choices(style="display: none")
                            
                        button.add-status Add Status
                    if user.id === recipe.User.id
                        .recipe-owner-buttons
                            a.edit-recipe(href=`/recipes/${recipe.id}/edit`) Edit Recipe
                            button.delete-recipe Delete Recipe

            .recipe-info
                .line-divider
                ul.ingredient-list
                    each qmi in qmiList
                        li #{qmi.quantity} #{qmi.measurement} #{qmi.ingredient}
                .line-divider
                p.steps #{recipe.steps}
                .line-divider


            .reviews
                if reviews.length
                    p.review-header Reviews
                    for review in reviews
                        .review-box
                            .review-image-container
                                img.review-image(src=`${review.Image.url}`)
                            .review-data
                                p.review-rating= review.rating
                                    span out of 5
                                p.review-text= review.review
                                .date-metadata
                                    p.author= review.User.userName
                                    p.review-date= review.createdAt.toDateString().slice(3)
