extends layout.pug
include utils.pug


block content
    main.form-area
        h1 Edit A Recipe
        #errorsDiv
        .new-recipe-form
            +validationErrorSummary(errors)
            form(action=`/recipes/${recipe.id}`, method='post')
                input(id='csurf' type='hidden', name='_csrf', value=csrfToken)
                input(type='hidden', id='qmiCount', name='qmiCount', value=qmiCount)
                div
                    label(for='name') Recipe Name
                    if nameErrMsg
                        span.nameValidationMsg(style={color: 'darkred'})= nameErrMsg
                    input(type='text' id='name' name='name' value=recipe.name class='form-control')
                +field('Description', 'description', recipe.description, 'textarea')
                +field('Image URL', 'imageURL', imageURL, 'url', 'URL')
                div(id='qmi-list')
                    each qmi, index in qmiList
                        div(class='qmi-row')

                            div
                                label(for=`quantity-${index + 1}`) Quantity
                                input(class='quantityInput' type='number' id=`quantity-${index + 1}` name=`quantity-${index + 1}` class='form-control' step='0.01' placeholder='0.00' value=qmi.quantity min='0.01' required)

                            div
                                label(for=`measurement-${index + 1}`) Measurement
                                select(name=`measurement-${index + 1}` id=`measurement-${index + 1}` )
                                    each measurement in measurements
                                        if qmi.measurement === measurement.type
                                            option(value=measurement.id selected) #{measurement.type}
                                        else
                                            option(value=measurement.id) #{measurement.type}
                            div
                                label(for=`ingredient-${index + 1}`) Ingredient
                                input(type=text id=`ingredient-${index + 1}` name=`ingredient-${index + 1}` class='form-control ingredientInput' value=qmi.ingredient required)

                            //- button(type='button' class='delete-row') Delete this ingredient
                            button(type='button' class='delete-row delete-button') Remove
                                i(class="fas fa-trash-alt")

                //- button(type='button' id='new-qmi-row') Add a new ingredient

                button(type='button' id='new-qmi-row' class='add-button') Add New Ingredient
                        i(class="fas fa-plus-circle")


                div
                    label(for='steps') Instructions
                    textarea(id='steps' name='steps' class='form-control' rows='5' )=recipe.steps

                div.edit-page-btn-group

                    div.submit
                        button(type='submit' class='submit') Submit

                    div.submit
                        a(href=`/recipes/${recipe.id}`) Cancel

            div(class='delete submit')
                form(action=`/recipes/${recipe.id}/delete`, method='post')
                    input(type='hidden', name='_csrf', value=csrfToken)
                    button(type='submit' id="delete-recipe") delete this recipe



    script(src='/javascripts/recipe-form.js')
