extends layout.pug

block content
    //- for now just list everything we need here
    //- need to go back to route and fix the pass in object
    div(class= 'recipe_details')
        p recipe name: #{recipe.name}
        p user name: #{recipe.User.userName}
        p description: #{recipe.description}
        if imageUrl
            img(src=recipe.Image.url width="500" height="600")
        else
            p no image
        p steps: #{recipe.steps}
        p ingredients:
        ul
            each qmi in qmiList
                li #{qmi.quantity} #{qmi.measurement} of #{qmi.ingredient}

    include reviews.pug
