extends layout.pug
include utils.pug

block content
    main.recipe-page-content
        .recipe_details
            .recipe-overview
                h1.recipe-name(data-recipeId= recipe.id) #{recipe.name}
                h3.recipe-id(hidden)=recipe.id
                .date-metadata
                    p.author by #{review.User.userName}
                    p.create-date created on #{ recipe.createdAt.toDateString().slice(3)}
                    p.update-date updated on #{recipe.updatedAt.toDateString().slice(3)}
                .recipe-image-container
                    if imageURL
                        img(src=recipe.Image.url)
                    else
                        img(src="/assets/logos/main-logo-2.svg" width="500" height="600")
                p.description #{recipe.description}
                .recipe-info
                    .line-divider
                    ul.ingredient-list
                        each qmi in qmiList
                            li #{qmi.quantity} #{qmi.measurement} #{qmi.ingredient}
                    .line-divider
                    p.steps #{recipe.steps}
                    .line-divider
            div(style= "font-family: var(--body-font);", id="reviewId", data-reviewId= `${review.id}`)
                if locals.authenticated
                    #errorsDiv
                        +validationErrorSummary(errors)
                    #reviewFormDiv
                        #ratingDiv
                            #ratingLabel
                                p.recipe RATE THIS RECIPE
                            #ratingWhisks
                        form(action="/")
                            input(type='hidden', name='_csrf', value=csrfToken)
                            textarea(name="review" style= "width: 100%; height: 40em" id="review")= review.review
                            label(for="imageURL" id="imageId" data-imageId=`${review.Image.id}`) URL for an Image (Optional):
                            if review.Image.id >= 10 && review.Image.id <= 18
                                input(type="text" id="imageURL" name="imageURL" value="")
                            else
                                input(type="text" id="imageURL" name="imageURL" value=review.Image.url)
                            #reviewButtonsDiv
                                button(id= "review-submit") SUBMIT
                                button(id= "review-cancel") CANCEL
    script(src="/javascripts/api-reviews-edit.js", type="module")
