extends layout.pug

block content
    main.user-page-content
        .profile-container
            .profile-pic
                img(src=user.Image.url)
            a(class='edit-button' href=`${user.id}/edit` role='button')
                i(class="fas fa-pencil-alt")
            h2=user.userName
            h4 Reciperson since
            span= memberSince

            h4 Recipes submitted
            span= recipesAdded

            h4 Reviews added
            span= reviewsAdded

        .recipes-data
                h2 My Recipes
                a(href='/recipes/new'  class='new-recipe add-button' role='button')
                    i(class="fas fa-plus-circle")
                    span Add New Recipe
                div(class="recipes-container")
                    each recipe in recipes
                        +recipeBadgeArea(recipe)
                div(class="collections-container")
                    div.my-collection-header
                        h2 My Collections
                        script(src='/javascripts/collections.js')
                        //- p(id='show-alert')
                        div.new-collection-form
                            button(class='collection-button' id='newCollectionBtn' type='submit' onclick='addNewCollection()') Add New Collection
                    div.all-collections
                        each collection in collections
                            div.collectionContainer
                                div(class='collection-header')
                                    h3=collection.name
                                    h3(hidden)=collection.id
                                    div.editCollection
                                        button(class='collection-button' id='editCollection' type='submit' onclick='editCollectionName(this)') Edit Name
                                    div.deleteCollection
                                        button(class='collection-button' id=`deleteCollection` type='submit' onclick='deleteCollection(this)') Delete Collection
                                    div(class='recipe-list' id=collection.id)
                                        button(class='collection-button' id=`viewCollection-${collection.id}` type='submit' onclick='viewCollection(this)') View Recipes
                                        div(class='collectionList' id=`recipe-view-${collection.id}` style="display: none")
