extends layout.pug

block content
    div(class="profile-container")
        h2=user.userName
        img(src=user.Image.url)
        a(class='edit-image' href=`${user.id}/edit` role='button') Change Picture
    div(class="recipes-container")
        h2 My Recipes
        a(class='new-recipe' href='/recipes/new' role='button') Add New Recipe
        //- replace with mixin later
        ul
            each recipe in recipes
                li=recipe.name
                a(href=`/recipes/${recipe.id}`) View
    div(class="collections-container")
        h2 My Collections
        ul
            each collection in collections
                li=collection.name
                //- change later when working with api route
                a(class='view-collection' href=`/collections/` role='button') View Collection
