mixin validationErrorSummary(errors)
  if errors
    div
      ul
        each error in errors
          li= error


mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  div
    label(for=fieldName)= labelText
    if fieldType === 'textarea'
      textarea(id=fieldName name=fieldName class='form-control' rows='5')= fieldValue
    else
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control')


mixin recipeBadgeArea(recipe)
      .card
        img(src=`${recipe.Image.url}` alt="recipe-image")
        .title
          h2= recipe.name
        .username= recipe.User.userName
        .rating
          if recipe.averageRating.length > 1
            img.no-ratings(src='/assets/illustrations/no-ratings-small.png')
          else

            input(type="radio" name=`${recipe.name}-rating` id=`${recipe.name}-rating-5` class="rating-5"  disabled="true" checked=(recipe.averageRating == '5'))
            label(for=`${recipe.name}-rating-5`)
            input(type="radio" name=`${recipe.name}-rating` id=`${recipe.name}-rating-4` class="rating-4"  disabled="true" checked=(recipe.averageRating == '4'))
            label(for=`${recipe.name}-rating-4`)
            input(type="radio" name=`${recipe.name}-rating` id=`${recipe.name}-rating-3` class="rating-3"  disabled="true" checked=(recipe.averageRating == '3'))
            label(for=`${recipe.name}-rating-3`)
            input(type="radio" name=`${recipe.name}-rating` id=`${recipe.name}-rating-2` class="rating-2"  disabled="true" checked=(recipe.averageRating == '2'))
            label(for=`${recipe.name}-rating-2`)
            input(type="radio" name=`${recipe.name}-rating` id=`${recipe.name}-rating-1` class="rating-1"  disabled="true" checked=(recipe.averageRating == '1'))
            label(for=`${recipe.name}-rating-1`)
        .view-button
          a.button(href=`/recipes/${recipe.id}`) View Recipe



mixin footer()
    footer
      .footer-cols
        div(class='column image-column')
          img.footer-logo(src="/assets/logos/main-logo-2.svg" alt="Recipeople Main Logo")
        .column
          h3.about-blurb About Recipeople
          p.about-blurb
            | Recipeople is a website where users can sign up, post recipes, and curate collections of recipes published by other users. This website was designed as a Week 13 midterm project as part of App Academy's 24-week Full Stack Software Engineering Bootcamp.
        .column
          h3.biography Hire Us
          ul.biography
            li.builder-name Aletheia Kim
              a.builder-link(href='#')
                i(class="fab fa-linkedin")
              a.builder-link(href='https://github.com/akim38')
                i(class="fab fa-github")
            li.builder-name Denise Li
              a.builder-link(href='https://www.linkedin.com/in/denise-li-45350320/')
                i(class="fab fa-linkedin")
              a.builder-link(href='https://github.com/cat-friend')
                i(class="fab fa-github")
            li.builder-name Mei Shih
              a.builder-link(href='https://www.linkedin.com/in/meiyinshih/')
                i(class="fab fa-linkedin")
              a.builder-link(href='https://github.com/MeiMeiYS')
                i(class="fab fa-github")
            li.builder-name Cameron Whiteside
              a.builder-link(href='https://www.linkedin.com/in/cameronwhiteside/')
                i(class="fab fa-linkedin")
              a.builder-link(href='https://github.com/CameronWhiteside')
                i(class="fab fa-github")

        .column
          h3.footer-nav Explore
          ul.footer-nav
            li: a(href='/') Home
            li: a(href='/recipes') Find Recipes
            if locals.authenticated
              li: a(href="/recipes/new") Create A Recipe
              li: a(href=`/users/${user.id}`) Profile Page
            else
              li: a(href='/users/signup') Register
              li: a(href='/users/login') Log In

      .footer-bottom
        p Built December 2021 with Javascript, Pug, and Express
